body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  background-color: #ddd;
}

main{
  background: #fff;
  padding: 2%;
}

#tribute-info{
  
}

.one{
  grid-column: 1/4;
}

.two{
  grid-column: 2/3;
}

.three{
  grid-column: 3/4;
}

.four{
  grid-column: 1/4;
}

.five{
  grid-column: 1/4;
}

img{
  max-width: 100%;
}
