body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

#title{
  width: 100%;
  background: green;
  float: left;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #fff;
  border-radius: 10px;

}

img{
  max-width: 100%;
  border-radius: 10px;
}

main{
  background: #fff;
  width: 100%;
  float: left;
}

@media screen and (min-width: 760px){
  .col-quarter{
    width: 21%;
    float: left;
    margin: 2% 2%;
  }

  .col-full{
    width: 96%;
    float: left;
    margin: 2% 2%;
  }
}
