body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  background-color: #ddd;
}

#main{
  display: grid;
  grid-template-columns: repeat(3, 1rf);
  grid-template-areas:
    "header header header header";
  grid-gap: 10px;
}
